* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1440px;
    min-width: 360px;
    margin: 0 auto !important;
    background-color: #F6F8FC;
}

header {
    width: 100%;
    padding: 1rem;

    display: flex;
    justify-content: center;

    background-color: paleturquoise;
}

.content {
    height: 100%;
    padding: 1rem;
    background-color: #FFFFFF;
}

.conteiner-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.conteiner-buttons button {
    padding: .3rem;
    background-color: #f7cf2e;
    color: #0f4ad1;
    border: 2px solid #0f4ad1;
    box-shadow: 2px 3px 5px #0f4ad1;
}

.conteiner-buttons button:hover {
    cursor: pointer;
    background-color: #0f4ad1;
    color: #f7cf2e;
    border: 2px solid #f7cf2e;
}


/*@media screen and (min-width: 992px){
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}*/

